* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Shared css */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.display-flex {
  display: flex;
  flex-direction: row;
}
.color-white {
  color: #ffffff;
}
.color-green {
  color: #30b868;
}
.capitalized {
  text-transform: capitalize;
}

/* Hero section */

nav {
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 24px;
}
.nav-list ul {
  list-style: none;
  gap: 32px;
}
.nav-list ul li a {
  text-decoration: none;
  color: #000000;
}
.btn {
  background-color: #30b868;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  color: #ffffff;
  cursor: pointer;
}
.btn:hover {
  background-color: #2c3a47;
  color: #ffffff;
}
.banner {
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 112px 120px 250px 120px;
}

.early-access {
  background-color: #ffffff;
  border-radius: 50px;
  width: 230px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 6px;
  padding: 8px 12px;
}
.outer {
  background-color: #cedcd3;
  width: 16px;
  height: 16px;
  border: none;
  /* border-radius: 100%; */
}
.middle {
  background-color: #9fc6af;
  width: 12px;
  height: 12px;
  border: none;
  /* border-radius: 100%; */
}
.inner {
  background-color: #469165;
  width: 6px;
  height: 6px;
  border: none;
}
.outer,
.middle,
.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.container h1 {
  font-size: 72px;
  font-weight: bold;
  margin-top: 16px;
}
.pera {
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}
.banner-button {
  margin-top: 32px;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.btn-vault {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn-transplant {
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-weight: 600;
  border: 1px solid white;
  border-radius: 4px;
  padding: 12px 16px;
  color: #ffffff;
  cursor: pointer;
}
.btn-transplant:hover {
  background-color: #bdc3c7;
  color: #000000;
}
/*main section style */
.problem-section {
  text-align: center;
}
.problem-section h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  padding-top: 45px;
  padding-bottom: 16px;
}
.problem-section p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}
.card-section {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.card {
  width: 322px;
  height: 300px;
}
.card h2 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  padding-top: 16px;
}
.card p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin: 0px 24px 0px 24px;
}
.icon {
  width: 60px;
  height: 60px;
  background-color: #f95555;
  margin: 0 auto;
  margin-top: 70px;
  border: none;
  border-radius: 100%;
  padding: 14px;
}
.solution-container {
  max-width: 1600px;
  margin: 0 auto;
  align-items: center;
  gap: 100px;
  margin-top: 100px;
}
.solution-img img {
  width: 700px;
  height: 700px;
}
.solution-text {
  width: 900px;
}
.solution-text h6 {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  margin-bottom: 16px;
}
.solution-text h1 {
  color: #001931;
  font-size: 52px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.solution-pera {
  font-size: 18px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}
.checkbox-list li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 16px;
}
.checkbox-list li p {
  font-size: 18px;
  line-height: 20px;
  color: #001931;
  margin: 0px;
  font-weight: 500;
}
.challenge-section {
  padding: 120px;
}
.challenge-container {
  width: 1600px;
  margin: 0 auto;
  text-align: center;
  background-color: #f7f6f2;
  padding-bottom: 80px;
}
.challenge-container h1 {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: bold;
  color: #001931;
  padding-top: 80px;
}
.challenge-container p {
  color: #627382;
  font-size: 16px;
  padding-top: 16px;
  line-height: 24px;
  padding-bottom: 24px;
}
.access-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
}
.footer-nav {
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  align-items: center;
}
footer {
  background-color: #001931;
  padding: 120px 120px 30px 120px;
}
.footer-nav {
  margin-bottom: 80px;
}
.footer-logo p {
  color: #ffffff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 16px;
}
.social-logo a {
  color: #ffffff;
  padding-right: 16px;
}
.copyright {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.078);
}
.copyright p {
  margin-top: 30px;
  color: #fafafa;
  font-size: 16px;
  line-height: 24px;
}
