* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Shared css */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.display-flex {
  display: flex;
  flex-direction: row;
}
.color-white {
  color: #ffffff;
}
.color-green {
  color: #30b868;
}

/* Hero section */

nav {
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 24px;
}
.nav-list ul {
  list-style: none;
  gap: 32px;
}
.nav-list ul li a {
  text-decoration: none;
  color: #000000;
}
.btn {
  background-color: #30b868;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  color: #ffffff;
}
.banner {
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  max-width: 100%;
  padding: 112px 120px 250px 120px;
}

.early-access {
  background-color: #ffffff;
  border-radius: 50px;
  width: 230px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 6px;
  padding: 8px 12px;
}
.outer {
  background-color: #cedcd3;
  width: 16px;
  height: 16px;
  border: none;
  /* border-radius: 100%; */
}
.middle {
  background-color: #9fc6af;
  width: 12px;
  height: 12px;
  border: none;
  /* border-radius: 100%; */
}
.inner {
  background-color: #469165;
  width: 6px;
  height: 6px;
  border: none;
}
.outer,
.middle,
.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.container h1 {
  font-size: 72px;
  font-weight: bold;
  margin-top: 16px;
}
.pera {
  font-size: 16px;
  line-height: 30px;
}
.banner-button {
  margin-top: 32px;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.btn-vault {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn-transplant {
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-weight: 600;
  border: 1px solid white;
  border-radius: 4px;
  padding: 12px 16px;
  color: #ffffff;
}
/*main section style */
.problem-section {
  text-align: center;
}
.problem-section h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  padding-top: 45px;
  padding-bottom: 16px;
}
.problem-section p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}
.card-section {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.card {
  width: 322px;
  height: 300px;
}
.card h2 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  padding-top: 16px;
}
.card p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin: 0px 24px 0px 24px;
}
.icon {
  width: 60px;
  height: 60px;
  background-color: #f95555;
  margin: 0 auto;
  margin-top: 70px;
  border: none;
  border-radius: 100%;
  padding: 14px;
}
